<nav>
<p><button data-toggle="collapse" data-target="#global_nav" id="navbutton">Click</button></p>

<div id="global_nav" class="collapse">

<div style="width: 100%">

 <h3 data-toc-skip>K8dash</h3>
  <a href="{{ site.baseurl }}/">Overview</a>
  {% include docs_ul.html items='../index' %}
  <h3 data-toc-skip>Documentation</h3>
  {% include docs_ul.html items='get-started' %}
  <h3 data-toc-skip>Contribute</h3>
    {% include docs_ul.html items='contribute' %}  

<br style="clear: left;" />
</div>
</div>
</nav>
